@media only screen and ( max-width: 1150px ) {
$colorBtnActive: #ff184b;
.products{
  width: 100%;
  display: flex;
  flex-direction: column;
}
  .productsItem{
    margin: 20px 50px 0 50px;
    &:last-child {
      margin-right: 50px;
    } // last-child
    &__img {
      &-unactive {
      } // -unactive
    } // __img
    &__descr {
    } // __desc
    &__price {
      &-discount {
        &::after {
        } // after
      } // -discout
      &-unactive {
      } // -unactive
    } // __price
    &__btn {
      &:hover {
      } // hover
      &-unactive {
        &:hover {
        } // hover
      } // -unactive
    } // __btn
  }//.productsItem

} // 1000
